{% extends 'base.html' %}
{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
<body>
  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        {% for pharmacy in pharmacies %}

      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{ pharmacy.name }}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>
            <ul>
                <a>Godziny otwarcia: {{ pharmacy.opening_hours }}</a><br>
                <a>Miasto: {{ pharmacy.city }}</a>
            </ul>
      </div>
    </div>
        {% endfor %}
  </div>
  </div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        {% for doctor in doctors %}

      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{ doctor.first_name}} {{ doctor.last_name}}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>
            <ul>
                <a>Specjalizacja: {{ doctor.medical_specialization }}</a><br>
            </ul>
      </div>
    </div>
        {% endfor %}
  </div>
  </div>


<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        {% for clinic in clinics %}

      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{ clinic.name }}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>
            <ul>
                <a>Godziny otwarcia: {{clinic.opening_hours }}</a><br>
                <a>Miasto: {{ clinic.city }}</a>
            </ul>
      </div>
    </div>
        {% endfor %}
  </div>
  </div>
</body>

{% endblock %}
