{% extends "base.html" %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <br>

        <style>
            table {
                background-color: white;
            }
        </style>
        <a href="{% url 'drug_add_view' %}">
            <button type="button" class="btn-secondary btn-sm disabled" tabindex="-1" role="button"
                    aria-disabled="true">Dodaj lek do bazy leków
            </button>
        </a>
        <div class="container text-center">

            <a href="{% url 'patient_drug_add_view' %}">
                <button type="button" class="btn-secondary btn-sm disabled" tabindex="-1" role="button"
                        aria-disabled="true">Dodaj lek pacjentowi
                </button>
            </a>
        </div>
        <br>

        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Nazwa:</th>
                <th scope="col">Dawka (mg)</th>
                <th scope="col">Działanie</th>
                <th scope="col">Substancja</th>
                <th scope="col">Grupa leków</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            {% for patient_drug in patient.patientdrug_set.all %}
                <tr>
                    <td ><a class="nav-link active"
                                       href="{% url 'patient_drug_detail_view' patient_drug.pk %}">{{ patient_drug.drug.name }} </a>
                    </td>
                    <td>{{ patient_drug.drug.dosage }}</td>
                    <td>{{ patient_drug.drug.action }}</td>
                    <td>
                        {% for drug in patient_drug.drug.substances.all %}
                            {{ drug }}
                        {% endfor %}
                    </td>
                    <td>
                        {{patient_drug.drug.groups }}
                    </td>

                    <td>
                        <a href="{% url 'patient_drug_delete_view' patient_drug.pk %}">
                            <button type="button" class="btn btn-outline-danger btn-sm">Usuń</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <table class="table table-sm">
                <thead>
                <th scope="col">UWAGA TE LEKI ZAWIERAJA TE SAME SUBSTANCJĘ</th>
                </thead>
                <tbody>
                <tr>{% for substance,drugs in user.patient.get_substance_alert.items %}</tr>
                    <th>Substancja:{{ substance }}</th>
                    {% for drug in drugs %}
                        <td>{{ drug }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

    </div>
{% endblock %}

{##}
{#    <ul>#}
{#        {% for drug in drugs_list %}#}
{#            <ul>#}
{#                <li>{{ drug.name}}</li>#}
{#                 <li>{{ drug.action}}</li>#}
{#                 <li>{{ drug.dosage}}</li>#}
{#                 <li>{{ drug.leaflet}}</li>#}
{#                 <li>#}
{#                     <ul>#}
{#                {% for drug in drug.substances.all %}#}
{#                    <li>{{ d }}</li>#}
{#                    </ul>#}
{##}
{#                {% endfor %}#}
{##}
{#            </ul>#}
{##}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endblock %}#}