{#    <p>{{ drugs.name }}</p>#}
{#    <p>{{ drugs.dosage }}</p>#}
{#    {% for substance in drugs.substances.all%}#}
{#    <p>{{ substance}}</p>#}
{#    {% endfor %}#}
{#    <p>{{ drugs.leaflet }}</p>#}
{#    <p>{{ drugs.action }}</p>#}
{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <div class="container-fluid">

        <div class="shadow"></div>
        <div class="container"><br>
            <ul>
                <li class="list-group-item me-md-4 ">Nazwa leku:{{ drugs.name }}</li>
            </ul>
            <br>
            <ul>
                <li class="list-group-item me-md-4">Dawka {{ drugs.dosage }} mg</li>
            </ul>
            <br>
            <ul>
                {% for substance in drugs.substances.all %}
                    <li class="list-group-item me-md-4">Substancja:{{ substance }}</li>
                {% endfor %}
            </ul>
            <br>
            <ul>
                <textarea class="container-fluid row-cols-2" readonly
                          style=" width: 98%; height: 200px;">{{ drugs.leaflet }}</textarea>
            </ul>
            <br>
            <ul>
                <li class="list-group-item me-md-4">Działanie: {{ drugs.action }}</li>
            </ul>
        </div>
        <div class="col-sm"></div>
    </div>

{% endblock %}

