

{#    <p>{{ drugs.name }}</p>#}
{#    <p>{{ drugs.dosage }}</p>#}
{#    {% for substance in drugs.substances.all%}#}
{#    <p>{{ substance}}</p>#}
{#    {% endfor %}#}
{#    <p>{{ drugs.leaflet }}</p>#}
{#    <p>{{ drugs.action }}</p>#}
{% extends 'base.html' %}
{% block content %}
<br>
    <br>
    <div class="container">
    <form>
        <div class=" shadow text-center">
            <div class="row">
                <div class="shadow"></div>
                <div class="container"><br><br
                    <ul>
                        <li class="list-group-item me-md-4 justify-content-center">{{ drugs.name}}</li>
                    </ul>
                    <br>
                    <ul>
                        <li class="list-group-item me-md-4">{{ drugs.dosage }}</li>
                    </ul>
                    <br>
                    <ul>
                        {% for substance in drugs.substances.all%}
                        <li class="list-group-item me-md-4">{{ substance}}</li>
                        {% endfor %}
                    </ul>
                    <br>
                    <ul>
                        <li class="list-group-item me-md-4">{{ drugs.leaflet }}</li>
                    </ul>
                    <br>
                    <ul>
                        <li class="list-group-item me-md-4">{{ drugs.action }}</li>
                    </ul>
                </div>
                <div class="col-sm"></div>
            </div>
        </div>
    </form>
    </div>

{% endblock %}

