{% extends "base.html" %}

{% block content %}
<br>
    <br>
    <br>

 <table class="table" >

  <thead>

    <tr>
      <th scope="col">Nazwa: </th>
      <th scope="col">Dawka (mg)</th>
      <th scope="col">Działanie</th>
      <th scope="col">Substancja</th>
      <th scope="col">Usuń lek</th>
    </tr>
  </thead>
  <tbody>
  {% for drug in drugs_list %}
    <tr>
      <th scope="row"><a class="nav-link active" href="{% url 'drug_detail_view' drug.pk %}">{{ drug.name}} </a> </th>
      <td>{{ drug.dosage}}</td>
      <td>{{ drug.action}}</td>
      {% for drug in drug.substances.all %}
      <td>{{ drug}} </td>
         {% endfor %}
      <td><a href="{% url 'drug_update_view' drug.pk %}">
            <button type="button" class="btn btn-primary">Edytuj</button></a>
        <a href="{% url 'drug_delete_view' drug.pk %}">
            <button type="button" class="btn btn-danger">Usuń</button></a>

      </td>

    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}

{##}
{#    <ul>#}
{#        {% for drug in drugs_list %}#}
{#            <ul>#}
{#                <li>{{ drug.name}}</li>#}
{#                 <li>{{ drug.action}}</li>#}
{#                 <li>{{ drug.dosage}}</li>#}
{#                 <li>{{ drug.leaflet}}</li>#}
{#                 <li>#}
{#                     <ul>#}
{#                {% for drug in drug.substances.all %}#}
{#                    <li>{{ d }}</li>#}
{#                    </ul>#}
{##}
{#                {% endfor %}#}
{##}
{#            </ul>#}
{##}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endblock %}#}