{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="container-xl text-center shadow bg-gradient" style="border-bottom-width: initial>
    <table class=" center">
    <form method="post">
        {% csrf_token %}
        <a>Opis mojego przypadku</a>

        <textarea class="container">{{ patientdisease.description }}</textarea>

        <input type="submit" class="btn-secondary btn-sm disabled" tabindex="-1" role="button"
               aria-disabled="true" value="Zapisz">


    </form>
{% endblock %}