
{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <div class="container-fluid">

        <div class="shadow"></div>
        <div class="container"><br>
            <ul>
                <li class="list-group-item me-md-4 ">Nazwa leku:{{ object.drug }}</li>
            </ul>
            <br>
            <br>
            <ul>
                <textarea class="container-fluid row-cols-2" readonly
                          style=" width: 98%; height: 200px;">{{ object.drug.leaflet }}</textarea>
            </ul>
            <br>
        </div>
        <div class="col-sm"></div>
    </div>

{% endblock %}

