{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="container-xl text-center shadow bg-gradient" style="border-bottom-width: initial>
    <table class=" center">
    <form method="POST" action="">
        {% csrf_token %}
        <a>Opis mojego przypadku</a>
        {{ form.description }}
{#        <textarea name="" class="form-control">{{ patientdisease.description }}</textarea>#}
        <input type="submit" class="btn-secondary btn-sm disabled"  value="Zapisz">

    </form>
{% endblock %}