<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="{% url 'index_view' %}">Moje choroby</a> </li>
     <li><a href="{% url 'index_view' %}">Moje leki</a> </li>
     <li><a href="{% url 'index_view' %}">Moje dane</a> </li>
     <li><a href="{% url 'index_view' %}">Kontakty</a> </li>

</ul>
{% block zawartość %}
    Bazowy szablon {{ abrakadabra }}
{% endblock %}
                                                                                                                                                                                                                                                                                                                                                                                                                        {{ data }}
</body>
</html>