<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="{% url 'index_view' %}">index</a> </li>

    <li><a href="">O nas</a> </li>
</ul>
{% block zawartość %}
    Bazowy szablon {{ abrakadabra }}
{% endblock %}
                                                                                                                                                                                                                                                                                                                                                                                                                        {{ data }}
</body>
</html>